.App {
  text-align: center;
  margin: 20px;
}

input {
  width: 100%;
  box-sizing: border-box;
}

input {
  /* width: calc(100% - 16px); */
  height: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: inherit;
  /* padding: 8px; */
}
